{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/make_recipe.css' %}">
{% endblock %}
{% block title %}
    <title>Make Recipe</title>
{% endblock %}

{% block content %}

    <div class="nav">
        <img src="{% static 'images/Deliveready-modified.png' %}" class="center">
        <u1>   
            <li><a href="default.asp">Home</a></li>
            <li><a href="news.asp">Recipes</a></li>
            <li><a href="contact.asp">Pantry</a></li>
            <li style="float: right"><a href="about.asp">Cart</a></li>
            <li style="float: right"><a href="view/1">Orders</a></li>
        </u1>
        
    </div>
 
    <body>

        <div class="make-recipe">
            <div class="title-text">
                <h1 style="color: white;"> '</h1>
                <h1 style="color: #478E5F; text-align: center;"> Make a Recipe! </h1>
                <hr size = "10" color = "black" style="width: 60%">
            </div>

            <form class = "recipe-maker-form" method = "post">
                <table>
                    {{ form }} 
                </table>
                {% csrf_token %}
                <div class = "button-placement">
                    <button type = "submit" class = "button"> Create </button>
                </div>
            </form>       
       
    </body>

{% endblock content %}