{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
{% endblock %}
{% block title %}
    <title>Register</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5">Registration Form</h2>
            <div class="card my-5">
              <div class="card-body cardbody-color p-lg-5">
                  <div class="text-center"><img src="{% static 'images/Deliveready.png' %}" class="center"></div>
                 <div id="content-container" class="container p-none">
                        <div class="lgn-container col-lg-8">
                            <form align="center" method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    <p>
                                        {{ field.label_tag }}<br>
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small style="color: grey">{{ field.help_text }}</small>
                                        {% endif %}
                                        {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </p>
                                {% endfor %}
                                <button type="submit">Sign up</button>
                            </form>
                        </div>
                 </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}