{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">
    <script src="{% static 'js/order.js' %}"></script>
{% endblock %}
{% block title %}
    <title>Order Summary</title>
{% endblock %}

{% block content %}
    <div class="nav">
       <img src="{% static 'images/Deliveready-modified.png' %}" class="center">
        <u1>   
            <li><a href="default.asp">Home</a></li>
            <li><a href="news.asp">Recipes</a></li>
            <li><a href="contact.asp">Pantry</a></li>
            <li style="float: right"><a href="about.asp">Cart</a></li>
            <li style="float: right"><a href="about.asp">Orders</a></li>
        </u1>
        
    </div>


    <body onload="getOrderInfo()">
        <!-- This is how to comment!-->
        <div class="white-background">
            
            <div class="title-test"> 
                <h1 style="color:white"> '</h1>
                <h1 style="color: #478E5F;"> Your Order Is Deliveready! </h1>
                <hr size = "10" color = "black" style="width: 60%">
            </div>

            <div class="summary">
                
                <div class="order-info">
                    <h2 style="margin-left: 100px; font-size: 21;"> ORDER INFORMATION </h2>
                    <p style="margin-left: 100px"> <strong>Order #:</strong> <p2 id = "order-number"> </p2> </p>             
                    <p style="margin-left: 100px"> <strong>Date:</strong> <p2 id = "date"></p2></p>
                </div>
                <div class="shipping">
                    <h2 style="margin-left: 100px; font-size: 21;"> SHIPPING ADDRESS</h2>
                    <p id = "name" style="margin-left: 100px"></p>
                    <p id = "address" style="margin-left: 100px"></p>
                    <p id = "phone" style="margin-left: 100px"> 123-456-7890 </p>   
                </div>
            </div>
            <p style="font-size: 30px; text-align: center"> <strong>ETA:</strong> <p2 id = "eta"></p2></p>
            <div class="ingredients">
                <h2 style="color: #478E5F"> INGREDIENTS ORDERED</h2>
                <hr size = "2" color = "#478E5F">
                <div class="ingredients-list">
                    <table style="width:100%" id = "ingredients-table">
                        <style>
                            td {
                                text-align: center;
                                line-height: 200%;
                            }
                        </style>
                        <tr>
                            <th style="width:25%"></th>
                            <th style="width:25%">Name</th>
                            <th style="width:25%">Quantity</th>
                            <th style="width:25%">Price</th>
                        </tr>
                        <div id = 'image_place'></div>


                    </table>
                </div>
            </div>

            <div class="total">
                <p>Subtotal: $<p2 id = "subtotal"></p2></p>
                <p>Est.Taxes: $<p2 id = "tax"></p2></p>
                <p>Delivery: FREE</p>
                <p style="line-height: 200%"><strong style="color: #478E5F">Total:</strong> $<p2 id = "total"></p2></p>
            </div>


            
        </div>

    </body>
{% endblock content %}